USE [master]
GO
/****** Object:  Database [DB_UDS_PIZZA_AUTH]    Script Date: 30/03/2020 23:47:41 ******/
CREATE DATABASE [DB_UDS_PIZZA_AUTH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_UDS_PIZZA_AUTH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER2014\MSSQL\DATA\DB_UDS_PIZZA_AUTH.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_UDS_PIZZA_AUTH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER2014\MSSQL\DATA\DB_UDS_PIZZA_AUTH_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_UDS_PIZZA_AUTH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_UDS_PIZZA_AUTH]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 30/03/2020 23:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Preco] [decimal](10, 3) NOT NULL,
	[TempoDePreparoEmMinutos] [int] NOT NULL,
	[StatusPedido] [tinyint] NOT NULL,
	[SaborPizza] [tinyint] NOT NULL,
	[TamanhoPizza] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonalizacaoPedido]    Script Date: 30/03/2020 23:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalizacaoPedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdPersonalizacao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personalizacoes]    Script Date: 30/03/2020 23:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personalizacoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoPersonalizacao] [tinyint] NOT NULL,
	[TempoAdicionalPreparo] [int] NULL,
	[CustoAdicional] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/03/2020 23:47:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[ChaveDeAcesso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[PersonalizacaoPedido]  WITH CHECK ADD  CONSTRAINT [FK_PersonalizacaoPedido_Pedidos] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[PersonalizacaoPedido] CHECK CONSTRAINT [FK_PersonalizacaoPedido_Pedidos]
GO
ALTER TABLE [dbo].[PersonalizacaoPedido]  WITH CHECK ADD  CONSTRAINT [FK_PersonalizacaoPedido_Personalizacoes] FOREIGN KEY([IdPersonalizacao])
REFERENCES [dbo].[Personalizacoes] ([Id])
GO
ALTER TABLE [dbo].[PersonalizacaoPedido] CHECK CONSTRAINT [FK_PersonalizacaoPedido_Personalizacoes]
GO
USE [master]
GO
